body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,p,b,a,span,header,nav,article,footer,aside,input,dd,dt,dl{
	margin: 0;
	padding: 0
}

a{
	font-size: 0.8em;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

li{
	list-style-type: none;
}

body{
	width: 100%;
	height: auto;
}
/*头部区域css样式开始*/
header.header_container{
	border: 1px solid #000000;
	width: inherit;
	height: auto;
	margin: 0px auto;
}
/*info区域css样式开始*/
/*左侧*/
header.header_container .info{
	width: inherit;
	height: auto;
	/*margin: inherit;*/
	background-color: #01afc7;
	border: 1px solid #8a6d3b;
}

.info .info_left{
	width: 55%;
	height: auto;
	display: inline-block;
	/*border: 1px solid #761c19;*/
	/*background-color: #2b542c;*/
	float: left;
}

.info .info_left .info_left_content{
	text-align: center;
	padding: 0.5em;
	/*vertical-align: middle;*/
}

.info .info_left .info_left_content label{
	/*padding: 10px 0px;*/
	font-size: 11px;
	color: white;
	/*background-color: #122b40;*/
}

.info .info_left .info_left_content a{
	color: white;
	font-size: 14px;
}
/*左侧结束*/

/*右侧*/
.info .info_right{
	display: inline-block;
	width: 45%;
	height: auto;
	/*border: 1px solid #2b542c;*/
}

.info .info_right a.toChinaSite.info_comment{
	display: inline-block;
	height: inherit;
	float: left;
	/*background-color: #2b542c;*/
}

.info .info_right a.toChinaSite.info_comment:hover{
	color: black;
}

.info .info_right .select_language{
	position: relative;
	display: inline-block;
	float: left;
	/*background-color: #1b6d85;*/
}

.info .info_right .select_language ul{
	display: none;
}
.info .myAccount{
	position: relative;
	float: left;
	display: inline-block;
}

.info .myAccount ul{
	position: absolute;
	top: 3.1em;
	left: 0px;
	width: 12em;
	background-color: #1b6d85;
	display: none;
}

.info .myAccount ul li{
	margin: 10px 5px 10px 20px;
}
.info .myAccount ul li a{
	color: black;
}

.info .info_right .mycart{
	display: inline-block;
	border: none;
}

/*右侧公共区域开始*/
.info_comment{
	padding: 1.0em;
	font-size: 12px;
	color: white;
	border-right: 1px solid white;
}

.info_comment:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}

.info .info_right a{
	font-size: 12px;
	color: white;
	display: inline-block;
}
/*右侧公共区域结束*/

/*右侧结束*/
/*info区域css样式结束*/

/*头部导航信息nav开始*/
.header_nav{
	border: 1px solid #761c19;
	width: inherit;
	height: auto;
	margin: 1.5em auto;
}

.header_nav .logo_img{
	display: inline-block;
	float: left;
	width: 50%;
	/*background-color: #3c3c3c;*/
}

.header_nav a[title]{
	display: block;
	width: inherit;
	/*align-content: center;*/
	text-align: center;

}

.header_nav a[title] img{
	border: 1px solid #122b40;
	margin: 20px;
}

.header_nav .header_nav_btn{
	float: left;
}

.clear{
	clear: both;
}

.header_nav .header_nav_btn{
	border:1px solid #761c19;
}
/*头部导航信息nav结束*/
/*头部区域css样式结束